@font-face {
  font-family: 'BSC';
  src: url("../fonts/BarlowSemiCondensed-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'BSC-Bold';
  src: url("../fonts/BarlowSemiCondensed-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'BSC-ExtraBold';
  src: url("../fonts/BarlowSemiCondensed-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: 'BSC-Light';
  src: url("../fonts/BarlowSemiCondensed-Light.ttf") format("truetype"); }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

* {
  font-family: 'BSC', Arial; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 0.875rem; }

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'BSC-Bold';
  line-height: 1.5;
  margin: 0; }

@media (min-width: 360px) {
  h1 {
    font-size: 3.5rem; } }

@media (min-width: 800px) {
  h1 {
    font-size: 4.5rem; } }

@media (min-width: 1367px) {
  h1 {
    font-size: 5rem; } }

h2 {
  font-size: 4.5rem; }

h3 {
  font-size: 3.5rem; }

h4 {
  font-size: 3.25rem; }

h5 {
  font-size: 3rem; }

h6 {
  font-size: 2.875rem; }

a {
  color: #FFFFFF;
  text-decoration: none; }
  a:hover {
    color: #FFFFFF;
    text-decoration: underline; }
  a.black {
    color: #000000; }
  a.white {
    color: #FFFFFF; }

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 800px) {
    .o-container {
      max-width: 1100px; } }
  @media (min-width: 1367px) {
    .o-container {
      max-width: 1800px; } }

.o-container-2 {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  @media (min-width: 360px) {
    .o-container-2 {
      width: 100%; } }
  @media (min-width: 800px) {
    .o-container-2 {
      width: 1220px; } }
  @media (min-width: 1367px) {
    .o-container-2 {
      width: 1800px; } }

.o-container-3 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 360px) {
    .o-container-3 {
      width: 100%; } }
  @media (min-width: 800px) {
    .o-container-3 {
      width: 1200px; } }
  @media (min-width: 1367px) {
    .o-container-3 {
      width: 1440px; } }

.o-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px; }
  @media (min-width: 1367px) {
    .o-row {
      flex-direction: row; } }
  @media (min-width: 800px) {
    .o-row {
      flex-direction: row; } }
  .o-row--center-y {
    align-items: center; }

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 800px) {
    .o-col--md20 {
      flex: 0 0 20%;
      max-width: 20%; } }
  @media (min-width: 800px) {
    .o-col--md25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 800px) {
    .o-col--md33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 800px) {
    .o-col--md50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1367px) {
    .o-col--lg25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 1367px) {
    .o-col--lg20 {
      flex: 0 0 20%;
      max-width: 20%; } }
  @media (min-width: 1367px) {
    .o-col--lg33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 1367px) {
    .o-col--lg50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1367px) {
    .o-col--lg75 {
      flex: 0 0 75%;
      max-width: 75%; } }

.c-btn {
  border: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  padding: 10px 30px;
  text-align: center;
  transition: all .25s ease-in-out;
  position: relative; }
  @media (min-width: 1367px) {
    .c-btn {
      font-size: 31.02px;
      line-height: 31.02px; } }
  .c-btn:hover {
    text-decoration: none; }
  .c-btn--primary {
    background-color: #2bd483;
    color: black; }
    .c-btn--primary:hover {
      background-color: #1e945c;
      color: #FFFFFF; }
  .c-btn--center {
    margin: 0 auto;
    text-align: center; }

.c-img-title {
  border: none;
  display: inline-block;
  font-style: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  padding: .75rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 220px; }
  .c-img-title--red {
    background-color: #fb4d3d; }
  .c-img-title--blue {
    background-color: #345995; }
  .c-img-title--yellow {
    background-color: #eac435; }

.c-social {
  position: absolute;
  right: 40px;
  top: 100px;
  mix-blend-mode: difference; }
  @media (min-width: 1367px) {
    .c-social {
      top: 400px; } }
  .c-social__icon {
    width: 15px;
    height: 15px; }
    .c-social__icon img {
      margin-bottom: 25px; }

.c-color-shape {
  position: absolute;
  right: 0;
  top: 750px; }

.c-color-shape-left {
  position: absolute;
  left: 0; }

.c-text--green {
  color: #2bd483; }

.c-text--center {
  margin: 0;
  text-align: center; }

.c-text--right {
  text-align: right; }

.c-text--bold {
  font-weight: bold; }

.c-text--extra-bold {
  font-weight: bold;
  font-family: 'BSC-ExtraBold'; }

.c-input, .c-textarea {
  background-color: inherit;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  font-size: 3rem; }

.c-textarea {
  padding: 0;
  width: 100%; }

.c-input {
  width: 100%; }
  @media (min-width: 800px) {
    .c-input {
      width: 150px; } }
  @media (min-width: 1367px) {
    .c-input {
      width: 100%; } }

.alert {
  font-size: 20px; }

.has-error input, .has-error textarea {
  border-bottom: 1px solid red; }

.error-value {
  color: red;
  font-size: 20px; }

.c-bar {
  background-color: #2bd483;
  float: right;
  height: 7px;
  width: 206px; }

.t-site-header {
  width: 100%;
  height: auto;
  /* HAMBURGER MENU */ }
  @media (min-width: 1367px) {
    .t-site-header {
      height: 860px; } }
  .t-site-header__hamburger-toogle {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 51000;
    float: right; }
    @media (min-width: 800px) {
      .t-site-header__hamburger-toogle {
        display: none; } }
    .t-site-header__hamburger-toogle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      right: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 51000; }
      .t-site-header__hamburger-toogle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -2px);
        background-color: #2bd483;
        width: 32px; }
      .t-site-header__hamburger-toogle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      .t-site-header__hamburger-toogle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 0);
        background-color: #FFFFFF;
        width: 32px; }
      .t-site-header__hamburger-toogle input:checked ~ ul {
        display: block;
        transition: 1s ease-in-out; }
    .t-site-header__hamburger-toogle span {
      display: block;
      width: 32px;
      height: 3px;
      margin-bottom: 5px;
      position: relative;
      background-color: #FFFFFF;
      border-radius: 5px;
      z-index: 2000;
      transform-origin: 3px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      .t-site-header__hamburger-toogle span:first-child {
        transform-origin: 0% 0%;
        background-color: red; }
      .t-site-header__hamburger-toogle span:nth-last-child(3) {
        transform-origin: 0% 100%;
        width: 100%;
        background-color: #2bd483; }
      .t-site-header__hamburger-toogle span:nth-last-child(2) {
        transform-origin: 0% 100%;
        width: 50%;
        float: right; }
    .t-site-header__hamburger-toogle--menu {
      display: none;
      position: absolute;
      right: -20px;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background: #000000;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transition: 1s ease-in-out;
      z-index: 1100; }
      .t-site-header__hamburger-toogle--menu a {
        color: #FFFFFF;
        text-transform: uppercase; }
      .t-site-header__hamburger-toogle--menu li {
        padding: 10px 0;
        font-style: 22px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  @media (min-width: 800px) {
    .t-site-header__top {
      line-height: 100px; } }
  @media (min-width: 1367px) {
    .t-site-header__top {
      line-height: 150px; } }
  .t-site-header__logo {
    float: left;
    margin: 0 0 0 40px;
    position: absolute;
    z-index: 10; }
    .t-site-header__logo img {
      height: 50px; }
      @media (min-width: 1367px) {
        .t-site-header__logo img {
          height: auto; } }
  .t-site-header__menu {
    display: none; }
    @media (min-width: 800px) {
      .t-site-header__menu {
        display: inline-block;
        right: 0;
        position: absolute; }
        .t-site-header__menu a {
          font-family: 'BSC', Arial;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0 25px 0 25px;
          mix-blend-mode: difference; } }
    @media (min-width: 1367px) {
      .t-site-header__menu {
        display: inline-block;
        right: 0;
        position: absolute; }
        .t-site-header__menu a {
          font-family: 'BSC', Arial;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0 25px 0 25px;
          mix-blend-mode: difference; } }
  .t-site-header__slideshow-image {
    width: 100%;
    overflow: hidden; }
    @media (min-width: 360px) {
      .t-site-header__slideshow-image {
        width: 100%; } }
    @media (min-width: 800px) {
      .t-site-header__slideshow-image {
        width: 1080px;
        height: 450px; } }
    @media (min-width: 1367px) {
      .t-site-header__slideshow-image {
        width: 1560px;
        height: 850px; } }
    .t-site-header__slideshow-image--normal {
      width: 100%;
      display: none; }
      @media (min-width: 360px) {
        .t-site-header__slideshow-image--normal {
          display: none; } }
      @media (min-width: 800px) {
        .t-site-header__slideshow-image--normal {
          display: block; } }
    .t-site-header__slideshow-image--small {
      background-color: #FFFFFF;
      height: 550px;
      width: 80%;
      overflow: hidden;
      display: block;
      position: relative; }
      .t-site-header__slideshow-image--small img {
        position: absolute;
        height: 500px;
        width: auto !important;
        bottom: 0; }
      @media (min-width: 360px) {
        .t-site-header__slideshow-image--small {
          display: block;
          position: relative; }
          .t-site-header__slideshow-image--small img {
            position: absolute;
            height: 500px;
            width: auto !important;
            bottom: 0; } }
      @media (min-width: 800px) {
        .t-site-header__slideshow-image--small {
          display: none; } }
  .t-site-header__slideshow-text {
    top: 75px;
    left: 30px;
    max-width: 250px;
    position: absolute;
    z-index: 10; }
    @media (min-width: 360px) {
      .t-site-header__slideshow-text {
        top: 75px;
        left: 30px; } }
    @media (min-width: 800px) {
      .t-site-header__slideshow-text {
        top: 110px;
        left: 475px;
        max-width: 350px; } }
    @media (min-width: 1367px) {
      .t-site-header__slideshow-text {
        top: 330px;
        left: 930px;
        max-width: 500px; } }
    .t-site-header__slideshow-text h1 {
      text-transform: uppercase;
      font-size: 26px; }
      @media (min-width: 360px) {
        .t-site-header__slideshow-text h1 {
          font-size: 26px; } }
      @media (min-width: 800px) {
        .t-site-header__slideshow-text h1 {
          font-size: 60px; } }
      @media (min-width: 1367px) {
        .t-site-header__slideshow-text h1 {
          font-size: 83.33px; } }
    .t-site-header__slideshow-text span {
      color: #000000;
      font-family: 'Myriad Pro', Arial;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 20px; }
      @media (min-width: 360px) {
        .t-site-header__slideshow-text span {
          font-size: 18px;
          line-height: 20px; } }
      @media (min-width: 800px) {
        .t-site-header__slideshow-text span {
          font-size: 36px;
          line-height: 40px; } }
      @media (min-width: 1367px) {
        .t-site-header__slideshow-text span {
          font-size: 53.33px;
          line-height: 60px; } }
  .t-site-header__slideshow img {
    width: 100%; }

.t-site-company-info {
  width: 100%;
  height: 150px; }
  @media (min-width: 1367px) {
    .t-site-company-info {
      height: 370px; } }
  .t-site-company-info__card {
    width: 100%;
    height: 125px;
    margin-top: 20px;
    margin-bottom: 40px;
    float: right;
    background-color: #FFFFFF; }
    @media (min-width: 360px) {
      .t-site-company-info__card {
        width: 100%; } }
    @media (min-width: 1367px) {
      .t-site-company-info__card {
        width: 1370px;
        height: 255px;
        margin-top: 40px;
        margin-bottom: 80px; } }
    .t-site-company-info__card-shape {
      overflow: hidden;
      float: left; }
      .t-site-company-info__card-shape img {
        height: 125px;
        width: 47px;
        overflow: hidden;
        object-fit: cover;
        object-position: 50% 82%; }
        @media (min-width: 1367px) {
          .t-site-company-info__card-shape img {
            height: 255px; } }
    .t-site-company-info__card-text {
      font-size: 32.2px;
      font-weight: bold;
      letter-spacing: -2px;
      color: #000000;
      margin-left: 90px;
      line-height: 32.2px; }
      @media (min-width: 1367px) {
        .t-site-company-info__card-text {
          font-size: 48px;
          line-height: 255px; } }
    .t-site-company-info__card-content {
      float: left;
      margin-right: 90px; }

.t-site-about-us {
  background-color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 55px;
  width: 100%; }
  .t-site-about-us__card {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px; }
    .t-site-about-us__card-text {
      color: #000000;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 60px; }

.t-site-job-offer {
  position: relative; }
  @media (min-width: 800px) {
    .t-site-job-offer {
      height: 550px; } }
  @media (min-width: 1367px) {
    .t-site-job-offer {
      height: 750px; } }
  @media (min-width: 800px) {
    .t-site-job-offer__bg {
      height: 300px;
      background-color: #FFFFFF;
      color: #000000; } }
  @media (min-width: 1367px) {
    .t-site-job-offer__bg {
      height: 340px;
      background-color: #FFFFFF;
      color: #000000; } }
  .t-site-job-offer__header {
    padding-top: 100px; }
  .t-site-job-offer__btn {
    margin-top: 70px;
    margin-bottom: 80px; }
  @media (min-width: 800px) {
    .t-site-job-offer .o-col:nth-child(3) {
      display: none; } }
  @media (min-width: 1367px) {
    .t-site-job-offer .o-col:nth-child(3) {
      display: block; } }
  .t-site-job-offer__item {
    background-color: #e5e5e5;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    height: 100px;
    width: 100%; }
    @media (min-width: 360px) {
      .t-site-job-offer__item {
        height: 120px;
        width: 100%; } }
    @media (min-width: 800px) {
      .t-site-job-offer__item {
        height: 190px;
        width: 100%; } }
    @media (min-width: 1367px) {
      .t-site-job-offer__item {
        height: 350px;
        width: 100%; } }
    .t-site-job-offer__item-title {
      color: #000000;
      font-weight: bold; }
      @media (min-width: 360px) {
        .t-site-job-offer__item-title {
          font-size: 15px;
          padding-top: 20px;
          padding-left: 10px;
          padding-right: 10px; } }
      @media (min-width: 800px) {
        .t-site-job-offer__item-title {
          font-size: 22px;
          padding-top: 30px;
          padding-left: 20px;
          padding-right: 20px; } }
      @media (min-width: 1367px) {
        .t-site-job-offer__item-title {
          font-size: 33.33px;
          padding-top: 50px;
          padding-left: 40px;
          padding-right: 40px; } }
    .t-site-job-offer__item-city {
      color: #000000; }
      @media (min-width: 360px) {
        .t-site-job-offer__item-city {
          font-size: 22px;
          padding-top: 10px;
          padding-left: 20px; } }
      @media (min-width: 800px) {
        .t-site-job-offer__item-city {
          font-size: 22px;
          padding-top: 10px;
          padding-left: 20px; } }
      @media (min-width: 1367px) {
        .t-site-job-offer__item-city {
          font-size: 33.33px;
          padding-top: 20px;
          padding-left: 40px; } }
    .t-site-job-offer__item-image {
      position: relative;
      float: left; }
      .t-site-job-offer__item-image-icon {
        position: relative;
        top: 15px;
        left: -130px; }
    .t-site-job-offer__item-readmore {
      position: absolute;
      right: 0; }
      @media (min-width: 360px) {
        .t-site-job-offer__item-readmore {
          top: 75px; } }
      @media (min-width: 800px) {
        .t-site-job-offer__item-readmore {
          top: 125px; } }
      @media (min-width: 1367px) {
        .t-site-job-offer__item-readmore {
          top: 270px; } }

.t-post-news {
  position: relative;
  height: 550px; }
  @media (min-width: 800px) {
    .t-post-news {
      height: 600px; } }
  @media (min-width: 1367px) {
    .t-post-news {
      height: 700px; } }
  .t-post-news__bg {
    background-color: #FFFFFF; }
    @media (min-width: 360px) {
      .t-post-news__bg {
        height: 200px; } }
    @media (min-width: 800px) {
      .t-post-news__bg {
        height: 250px; } }
    @media (min-width: 1367px) {
      .t-post-news__bg {
        height: 350px; } }
  .t-post-news__content {
    padding-bottom: 40px; }
  @media (min-width: 360px) {
    .t-post-news .o-col:nth-child(2), .t-post-news .o-col:nth-child(3) {
      display: none; } }
  @media (min-width: 800px) {
    .t-post-news .o-col:nth-child(2), .t-post-news .o-col:nth-child(3) {
      display: block; } }
  .t-post-news__item {
    margin-bottom: 40px;
    position: relative;
    height: 570px; }
    @media (min-width: 360px) {
      .t-post-news__item {
        height: 240px; } }
    @media (min-width: 800px) {
      .t-post-news__item {
        height: 200px; } }
    @media (min-width: 1367px) {
      .t-post-news__item {
        margin-bottom: 20px;
        height: 335px; } }
  .t-post-news__image {
    margin-bottom: 25px;
    position: relative; }
    @media (min-width: 360px) {
      .t-post-news__image img {
        width: 100%; } }
    @media (min-width: 800px) {
      .t-post-news__image img {
        height: 250px;
        width: 335px; } }
    @media (min-width: 1367px) {
      .t-post-news__image img {
        height: 355px;
        width: 100%; } }
  .t-post-news__badge {
    color: #FFFFFF;
    font-size: 2rem;
    padding: .5rem 2rem .5rem 1rem;
    position: absolute;
    top: 10px;
    left: 0;
    text-transform: uppercase; }
    .t-post-news__badge-red {
      background-color: #fb4d3d; }
    .t-post-news__badge-blue {
      background-color: #345995; }
    .t-post-news__badge-yellow {
      background-color: #eac435; }
  .t-post-news__description {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px; }
  .t-post-news__container {
    width: 100%;
    height: 100px; }
  .t-post-news__date {
    font-family: 'BSC-Light'; }
    @media (min-width: 800px) {
      .t-post-news__date {
        font-size: 22px;
        padding-top: 10px; } }
    @media (min-width: 1367px) {
      .t-post-news__date {
        font-size: 2.5rem;
        padding-left: 20px;
        padding-top: 25px; } }
  .t-post-news__readmore {
    position: absolute;
    right: 0; }
    @media (min-width: 800px) {
      .t-post-news__readmore {
        top: 410px; } }
    @media (min-width: 1367px) {
      .t-post-news__readmore {
        top: 480px; } }

.t-site-friends {
  position: relative; }
  @media (min-width: 360px) {
    .t-site-friends {
      height: auto; } }
  @media (min-width: 1367px) {
    .t-site-friends {
      height: 1160px; } }
  .t-site-friends__top {
    position: relative;
    width: 100%;
    height: 800px; }
  .t-site-friends__text {
    width: 25%;
    float: left;
    display: none; }
    @media (min-width: 800px) {
      .t-site-friends__text {
        display: block; } }
    @media (min-width: 800px) {
      .t-site-friends__text h1 {
        font-size: 52px !important;
        line-height: 40px;
        padding-top: 20px;
        padding-right: 50px; } }
    @media (min-width: 1367px) {
      .t-site-friends__text h1 {
        font-size: 93px !important;
        line-height: 80px;
        padding-top: 20px; } }
  .t-site-friends__right-bg {
    background-color: #FFFFFF;
    position: absolute;
    right: 0; }
    @media (min-width: 360px) {
      .t-site-friends__right-bg {
        height: 800px;
        width: 100%; } }
    @media (min-width: 800px) {
      .t-site-friends__right-bg {
        height: 800px;
        width: 75%; } }
    @media (min-width: 1367px) {
      .t-site-friends__right-bg {
        height: 800px;
        width: 75%; } }
    .t-site-friends__right-bg--sponsors {
      height: 440px;
      overflow: hidden; }
      @media (min-width: 360px) {
        .t-site-friends__right-bg--sponsors img {
          width: 100%; } }
      @media (min-width: 800px) {
        .t-site-friends__right-bg--sponsors img {
          margin: 40px 10px 0 10px;
          width: 30%; } }
      @media (min-width: 1367px) {
        .t-site-friends__right-bg--sponsors img {
          margin: 170px 30px 0 30px;
          width: auto; } }
  .t-site-friends__bottom {
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    height: 360px; }
    @media (min-width: 360px) {
      .t-site-friends__bottom {
        height: 330px; } }
    @media (min-width: 800px) {
      .t-site-friends__bottom {
        height: 360px; } }
  .t-site-friends__content {
    position: relative;
    top: -400px; }
  @media (min-width: 360px) {
    .t-site-friends .o-col:nth-child(2), .t-site-friends .o-col:nth-child(3) {
      display: none; } }
  @media (min-width: 800px) {
    .t-site-friends .o-col:nth-child(2), .t-site-friends .o-col:nth-child(3) {
      display: block; } }
  .t-site-friends__item {
    background-color: #2bd483;
    height: 465px;
    position: relative;
    margin-top: 150px;
    width: 100%; }
    @media (min-width: 360px) {
      .t-site-friends__item {
        width: 100%;
        height: 400px; } }
    @media (min-width: 800px) {
      .t-site-friends__item {
        width: 330px; } }
    @media (min-width: 1367px) {
      .t-site-friends__item {
        width: 100%; } }
    .t-site-friends__item-image {
      position: absolute;
      top: -100px;
      left: 50px; }
      @media (min-width: 360px) {
        .t-site-friends__item-image {
          left: 25%;
          width: 50px; }
          .t-site-friends__item-image img {
            width: 150px; } }
      @media (min-width: 800px) {
        .t-site-friends__item-image {
          left: 30px;
          width: 150px; } }
      @media (min-width: 1367px) {
        .t-site-friends__item-image {
          top: -100px;
          left: 50px; } }
    .t-site-friends__item-description {
      color: #FFFFFF;
      font-family: 'BSC', Arial;
      font-weight: bold; }
      @media (min-width: 360px) {
        .t-site-friends__item-description {
          font-size: 20px;
          padding: 70px 20px 50px 20px; } }
      @media (min-width: 800px) {
        .t-site-friends__item-description {
          font-size: 20px;
          padding: 150px 30px 50px 30px; } }
      @media (min-width: 1367px) {
        .t-site-friends__item-description {
          font-size: 26px; } }
    .t-site-friends__item-person {
      color: #FFFFFF;
      font-size: 22px;
      font-family: 'BSC';
      text-align: right;
      text-transform: uppercase;
      position: absolute;
      bottom: 30px;
      right: 30px; }
      @media (min-width: 360px) {
        .t-site-friends__item-person {
          position: relative;
          font-size: 1.125rem; } }
      @media (min-width: 800px) {
        .t-site-friends__item-person {
          font-size: 22px; } }
      .t-site-friends__item-person span {
        display: inline-block; }

.t-site-contact-us {
  position: relative;
  height: 630px; }
  @media (min-width: 360px) {
    .t-site-contact-us {
      margin-top: 20px; } }
  .t-site-contact-us__image {
    float: left;
    display: none; }
    @media (min-width: 800px) {
      .t-site-contact-us__image {
        display: inline-block;
        width: 25%; } }
  .t-site-contact-us__form {
    height: auto;
    position: absolute;
    right: 0;
    width: 100%; }
    @media (min-width: 360px) {
      .t-site-contact-us__form {
        width: 100%; } }
    @media (min-width: 800px) {
      .t-site-contact-us__form {
        width: 75%; } }
    @media (min-width: 1367px) {
      .t-site-contact-us__form {
        width: 75%;
        max-width: 1300px;
        margin-right: 150px; } }
    @media (min-width: 360px) {
      .t-site-contact-us__form h1 {
        font-size: 36px;
        text-align: center; } }
    @media (min-width: 800px) {
      .t-site-contact-us__form h1 {
        font-size: 73.3px; } }
    @media (min-width: 800px) {
      .t-site-contact-us__form form {
        margin-top: 70px; } }
    .t-site-contact-us__form-input {
      float: left;
      margin: 0; }
      @media (min-width: 800px) {
        .t-site-contact-us__form-input {
          margin: 0 35px; } }
      .t-site-contact-us__form-input:first-child {
        margin-left: 0; }
      .t-site-contact-us__form-input:last-child {
        margin-right: 0; }
      .t-site-contact-us__form-input input {
        height: 50px; }
    .t-site-contact-us__form-textarea {
      width: 100%;
      padding-top: 30px; }
      .t-site-contact-us__form-textarea textarea {
        height: 50px;
        resize: vertical;
        min-height: 50px;
        max-height: 100px; }
    .t-site-contact-us__form-checkbox {
      float: left;
      font-size: 1.6875rem;
      font-family: 'BSC'; }
    .t-site-contact-us__form-submit {
      float: right; }
  .t-site-contact-us__form-more {
    margin-left: 20px; }

.t-site-footer {
  background-color: #cccccc;
  padding-top: 100px; }
  .t-site-footer__image {
    position: absolute;
    top: -400px;
    left: -290px;
    z-index: -1; }
  .t-site-footer__index {
    z-index: 1000; }
  .t-site-footer__item {
    color: #000000;
    flex-basis: auto;
    padding-left: 15px;
    margin: 0 0 50px 0;
    z-index: 100; }
    .t-site-footer__item:first-child {
      color: #FFFFFF;
      position: relative; }
      @media (min-width: 1367px) {
        .t-site-footer__item:first-child {
          width: 20%; } }
    @media (min-width: 1367px) {
      .t-site-footer__item:nth-child(2) {
        width: 20%; } }
    @media (min-width: 1367px) {
      .t-site-footer__item:nth-child(3) {
        width: 20%; } }
    @media (min-width: 1367px) {
      .t-site-footer__item:nth-child(4) {
        width: 20%; } }
    @media (min-width: 1367px) {
      .t-site-footer__item:nth-child(5) {
        width: 20%; } }
    .t-site-footer__item p {
      font-size: 20px;
      margin: 0 0; }
  .t-site-footer__logotypes {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    padding: 50px 0;
    margin: 20px 0;
    width: 100%; }
    .t-site-footer__logotypes--item {
      flex-basis: auto;
      float: left;
      text-align: center; }
      @media (min-width: 1367px) {
        .t-site-footer__logotypes--item {
          width: 25%; } }
  .t-site-footer__copyright {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 50px; }
    .t-site-footer__copyright-link {
      float: left; }
      .t-site-footer__copyright-link a {
        color: #000000;
        margin-left: 30px;
        text-decoration: underline; }
    .t-site-footer__copyright-social {
      float: right; }
      .t-site-footer__copyright-social a {
        text-decoration: none; }
      .t-site-footer__copyright-social img {
        color: #000000;
        margin: 0 15px;
        filter: brightness(0); }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-text-white {
  color: #FFFFFF; }

.u-mt-1 {
  margin-top: 10px; }

.u-mt-2 {
  margin-top: 20px; }

.u-mt-3 {
  margin-top: 30px; }
