.t-site-job-offer {
    position: relative;

    @include medium-up {
        height: 550px;
    }

    @include large-up {
        height: 750px;
    }

    &__bg {

        @include medium-up {
            height: 300px;
            background-color: $white;
            color: $black;
        }

        @include large-up {
            height: 340px;
            background-color: $white;
            color: $black;
        }
        
    }

    &__header {
        padding-top: $grid-base * 10; 
    }

    &__btn {
        margin-top: 70px;
        margin-bottom: 80px;
    }
    

    @include medium-up {
        .o-col:nth-child(3) {
            display: none;
        }
    }

    @include large-up {
        .o-col:nth-child(3) {
            display: block;
        }
    }
    

    &__item {
        background-color: $gray;
        overflow: hidden; 
        position: relative;
        margin-top: 40px;
        height: 100px;
        width: 100%;

        @include small-up {
            height: 120px;
            width: 100%;
        }

        @include medium-up {
            height: 190px;
            width: 100%;
        }

        @include large-up {
            height: 350px;
            width: 100%;
        }


        &-title {
            color: $black;
            font-weight: bold;
           
            @include small-up {
                font-size: 15px;
                padding-top: $margin-20;
                padding-left: $margin-10;
                padding-right: $margin-10;
            }

            @include medium-up {
                font-size: 22px;
                padding-top: $margin-30;
                padding-left: $margin-20;
                padding-right: $margin-20;
            }

            @include large-up {
                font-size: 33.33px;
                padding-top: $margin-50;
                padding-left: $margin-40;
                padding-right: $margin-40;
            }
        }

        &-city {
            color: $black;
            

            @include small-up {
                font-size: 22px;
                padding-top: $margin-10;
                padding-left: $margin-20;
            }

            @include medium-up {
                font-size: 22px;
                padding-top: $margin-10;
                padding-left: $margin-20;
            }

            @include large-up {
                font-size: 33.33px;
                padding-top: $margin-20;
                padding-left: $margin-40;
            }
        }

        &-image {
            position: relative;
            float: left; 
            
            &-icon {
                position: relative;
                top: 15px;
                left: -130px;
            }
        }

        &-readmore {
            position: absolute;
            right: 0;

            @include small-up {
                top: 75px;
            }

            @include medium-up {
                top: 125px;
            }

            @include large-up {
                top: 270px;
            }
        }
   }


}